@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@600&display=swap');

body{
  height: 100vh;
  scroll-behavior: smooth;
}

.page-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  background: purple;
  height: 100vh;
}

.quoteBox{
  display: flex;
  flex-direction: column;
  background: rgb(240, 240, 240);
  color: black;
  width: 40%;
  height: 60%;
  border-radius: .8em;
  box-shadow: 0 10px 50px 25px rgba(0, 0, 0, 0.623);
}

.quotes{
  display: flex;
  flex-direction: column;
  height: 80%;
  width: 100%;
}

.quoteMark{
  color: #aaa;
  font-size: xx-large;
  padding:  0 .5em;
}

.quote{
  height: 80%;
  padding: .5em 3em;
  font-family: 'Source Code Pro';
  text-align: center;
}

.qAuth{
  height: 20%;
  text-align: right;
  padding: 0 3em;
  font-family: "comic sans MS";
  font-weight: bolder;
}

.share{
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 2px solid #aaa;
  height: auto;
  color: white;
  padding: 1em .2em;
}

.share-btn{
  display: flex;
  justify-content: space-between;
}

.share-btn a{
  color: black;
  text-decoration: none;
  margin-right: 3rem;
  border-radius: .5em;
  transform: scale(2.5);
}

.share button{
  background: black;
  color: white;
  padding: 1em;
  border: none;
  cursor: pointer;
  border-radius: .5em;
}